@font-face {
  font-family: 'gw-icons';
  src: url('gw-icons.eot');
  src: url('gw-icons.eot?ozg8tw#iefix') format('embedded-opentype'),
      url('gw-icons.woff2?ozg8tw') format('woff2'),
      url('gw-icons.woff?ozg8tw') format('woff'),
      url('gw-icons.ttf?ozg8tw') format('truetype'),
      url('gw-icons.svg?ozg8tw#gw-icons') format('svg');
  font-style: normal;
  font-weight: 400;
}
