@font-face {
  font-family: "gw-icons";
  src: url("gw-icons.eot");
  src: url("gw-icons.woff2?c9f2r1") format("woff2"),
      url("gw-icons.woff?c9f2r1") format("woff");
  font-style: normal;
  font-weight: 400;
}

.c-icon::before,
[data-icon]::before {
  display: inline-block;
  font-family: "gw-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: -.125em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.c-icon--angle-down::before {
  content: "\ea01";
}
.c-icon--angle-left::before {
  content: "\ea02";
}
.c-icon--angle-right::before {
  content: "\ea03";
}
.c-icon--angle-up::before {
  content: "\ea04";
}
.c-icon--arrow-circle-down::before {
  content: "\ea05";
}
.c-icon--arrow-circle-left::before {
  content: "\ea06";
}
.c-icon--arrow-circle-right::before {
  content: "\ea07";
}
.c-icon--arrow-circle-up::before {
  content: "\ea08";
}
.c-icon--arrow-down::before {
  content: "\ea09";
}
.c-icon--arrow-left::before {
  content: "\ea0a";
}
.c-icon--arrow-right::before {
  content: "\ea0b";
}
.c-icon--arrow-up::before {
  content: "\ea0c";
}
.c-icon--arrows-alt-h::before {
  content: "\ea0d";
}
.c-icon--arrows-alt-v::before {
  content: "\ea0e";
}
.c-icon--at-solid::before {
  content: "\ea0f";
}
.c-icon--ban-solid::before {
  content: "\ea10";
}
.c-icon--chevron-circle-down::before {
  content: "\ea11";
}
.c-icon--chevron-circle-left::before {
  content: "\ea12";
}
.c-icon--chevron-circle-right::before {
  content: "\ea13";
}
.c-icon--chevron-circle-up::before {
  content: "\ea14";
}
.c-icon--chevron-down::before {
  content: "\ea15";
}
.c-icon--chevron-left::before {
  content: "\ea16";
}
.c-icon--chevron-right::before {
  content: "\ea17";
}
.c-icon--chevron-up::before {
  content: "\ea18";
}
.c-icon--circle::before {
  content: "\ea19";
}
.c-icon--circle-notch::before {
  content: "\ea1a";
}
.c-icon--cogs::before {
  content: "\ea1b";
}
.c-icon--columns::before {
  content: "\ea1c";
}
.c-icon--comment::before {
  content: "\ea1d";
}
.c-icon--expand-arrows-alt::before {
  content: "\ea1e";
}
.c-icon--external-link-square-alt-solid::before {
  content: "\ea1f";
}
.c-icon--facebook::before {
  content: "\ea20";
}
.c-icon--feather-solid::before {
  content: "\ea21";
}
.c-icon--flickr::before {
  content: "\ea22";
}
.c-icon--grid::before {
  content: "\ea23";
}
.c-icon--grid-alt::before {
  content: "\ea24";
}
.c-icon--grip-horizontal-solid::before {
  content: "\ea25";
}
.c-icon--grip-vertical-solid::before {
  content: "\ea26";
}
.c-icon--hand-paper::before {
  content: "\ea27";
}
.c-icon--hand-paper-solid::before {
  content: "\ea28";
}
.c-icon--hand-point-up::before {
  content: "\ea29";
}
.c-icon--hand-point-up-solid::before {
  content: "\ea2a";
}
.c-icon--hand-pointer::before {
  content: "\ea2b";
}
.c-icon--hand-pointer-solid::before {
  content: "\ea2c";
}
.c-icon--hand-rock::before {
  content: "\ea2d";
}
.c-icon--hand-rock-solid::before {
  content: "\ea2e";
}
.c-icon--hashtag-solid::before {
  content: "\ea2f";
}
.c-icon--hourglass-solid::before {
  content: "\ea30";
}
.c-icon--hourglass-start-solid::before {
  content: "\ea31";
}
.c-icon--i-cursor-solid::before {
  content: "\ea32";
}
.c-icon--info-circle-solid::before {
  content: "\ea33";
}
.c-icon--instagram::before {
  content: "\ea34";
}
.c-icon--link-solid::before {
  content: "\ea35";
}
.c-icon--long-arrow-alt-down::before {
  content: "\ea36";
}
.c-icon--long-arrow-alt-left::before {
  content: "\ea37";
}
.c-icon--long-arrow-alt-right::before {
  content: "\ea38";
}
.c-icon--long-arrow-alt-up::before {
  content: "\ea39";
}
.c-icon--meh-blank::before {
  content: "\ea3a";
}
.c-icon--minus-circle::before {
  content: "\ea3b";
}
.c-icon--minus-square::before {
  content: "\ea3c";
}
.c-icon--plus-circle::before {
  content: "\ea3d";
}
.c-icon--plus-square::before {
  content: "\ea3e";
}
.c-icon--ruler-combined::before {
  content: "\ea3f";
}
.c-icon--star-of-life::before {
  content: "\ea40";
}
.c-icon--surprise::before {
  content: "\ea41";
}
.c-icon--user-solid::before {
  content: "\ea42";
}
.c-icon--window-close::before {
  content: "\ea43";
}
.c-icon--youtube::before {
  content: "\ea44";
}


[data-icon="angle-down"]::before {
  content: "\ea01";
}
[data-icon="angle-left"]::before {
  content: "\ea02";
}
[data-icon="angle-right"]::before {
  content: "\ea03";
}
[data-icon="angle-up"]::before {
  content: "\ea04";
}
[data-icon="arrow-circle-down"]::before {
  content: "\ea05";
}
[data-icon="arrow-circle-left"]::before {
  content: "\ea06";
}
[data-icon="arrow-circle-right"]::before {
  content: "\ea07";
}
[data-icon="arrow-circle-up"]::before {
  content: "\ea08";
}
[data-icon="arrow-down"]::before {
  content: "\ea09";
}
[data-icon="arrow-left"]::before {
  content: "\ea0a";
}
[data-icon="arrow-right"]::before {
  content: "\ea0b";
}
[data-icon="arrow-up"]::before {
  content: "\ea0c";
}
[data-icon="arrows-alt-h"]::before {
  content: "\ea0d";
}
[data-icon="arrows-alt-v"]::before {
  content: "\ea0e";
}
[data-icon="at-solid"]::before {
  content: "\ea0f";
}
[data-icon="ban-solid"]::before {
  content: "\ea10";
}
[data-icon="chevron-circle-down"]::before {
  content: "\ea11";
}
[data-icon="chevron-circle-left"]::before {
  content: "\ea12";
}
[data-icon="chevron-circle-right"]::before {
  content: "\ea13";
}
[data-icon="chevron-circle-up"]::before {
  content: "\ea14";
}
[data-icon="chevron-down"]::before {
  content: "\ea15";
}
[data-icon="chevron-left"]::before {
  content: "\ea16";
}
[data-icon="chevron-right"]::before {
  content: "\ea17";
}
[data-icon="chevron-up"]::before {
  content: "\ea18";
}
[data-icon="circle"]::before {
  content: "\ea19";
}
[data-icon="circle-notch"]::before {
  content: "\ea1a";
}
[data-icon="cogs"]::before {
  content: "\ea1b";
}
[data-icon="columns"]::before {
  content: "\ea1c";
}
[data-icon="comment"]::before {
  content: "\ea1d";
}
[data-icon="expand-arrows-alt"]::before {
  content: "\ea1e";
}
[data-icon="external-link-square-alt-solid"]::before {
  content: "\ea1f";
}
[data-icon="facebook"]::before {
  content: "\ea20";
}
[data-icon="feather-solid"]::before {
  content: "\ea21";
}
[data-icon="flickr"]::before {
  content: "\ea22";
}
[data-icon="grid"]::before {
  content: "\ea23";
}
[data-icon="grid-alt"]::before {
  content: "\ea24";
}
[data-icon="grip-horizontal-solid"]::before {
  content: "\ea25";
}
[data-icon="grip-vertical-solid"]::before {
  content: "\ea26";
}
[data-icon="hand-paper"]::before {
  content: "\ea27";
}
[data-icon="hand-paper-solid"]::before {
  content: "\ea28";
}
[data-icon="hand-point-up"]::before {
  content: "\ea29";
}
[data-icon="hand-point-up-solid"]::before {
  content: "\ea2a";
}
[data-icon="hand-pointer"]::before {
  content: "\ea2b";
}
[data-icon="hand-pointer-solid"]::before {
  content: "\ea2c";
}
[data-icon="hand-rock"]::before {
  content: "\ea2d";
}
[data-icon="hand-rock-solid"]::before {
  content: "\ea2e";
}
[data-icon="hashtag-solid"]::before {
  content: "\ea2f";
}
[data-icon="hourglass-solid"]::before {
  content: "\ea30";
}
[data-icon="hourglass-start-solid"]::before {
  content: "\ea31";
}
[data-icon="i-cursor-solid"]::before {
  content: "\ea32";
}
[data-icon="info-circle-solid"]::before {
  content: "\ea33";
}
[data-icon="instagram"]::before {
  content: "\ea34";
}
[data-icon="link-solid"]::before {
  content: "\ea35";
}
[data-icon="long-arrow-alt-down"]::before {
  content: "\ea36";
}
[data-icon="long-arrow-alt-left"]::before {
  content: "\ea37";
}
[data-icon="long-arrow-alt-right"]::before {
  content: "\ea38";
}
[data-icon="long-arrow-alt-up"]::before {
  content: "\ea39";
}
[data-icon="meh-blank"]::before {
  content: "\ea3a";
}
[data-icon="minus-circle"]::before {
  content: "\ea3b";
}
[data-icon="minus-square"]::before {
  content: "\ea3c";
}
[data-icon="plus-circle"]::before {
  content: "\ea3d";
}
[data-icon="plus-square"]::before {
  content: "\ea3e";
}
[data-icon="ruler-combined"]::before {
  content: "\ea3f";
}
[data-icon="star-of-life"]::before {
  content: "\ea40";
}
[data-icon="surprise"]::before {
  content: "\ea41";
}
[data-icon="user-solid"]::before {
  content: "\ea42";
}
[data-icon="window-close"]::before {
  content: "\ea43";
}
[data-icon="youtube"]::before {
  content: "\ea44";
}

