/*
 *  Fonts - Nimbus Sans L
 */

@font-face {
  font-family: 'Nimbus Sans L';
  src:  url('NimbusSansL-Regular.woff2') format('woff2'),
       url('NimbusSansL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
font-family: 'Nimbus Sans L';
src: url('NimbusSansL-Italic.woff2') format('woff2'),
     url('NimbusSansL-Italic.woff') format('woff');
font-weight: normal;
font-style: italic;

}

@font-face {
font-family: 'Nimbus Sans L';
src: url('NimbusSansL-Bold.woff2') format('woff2'),
     url('NimbusSansL-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;

}

@font-face {
font-family: 'Nimbus Sans L';
src: url('NimbusSansL-BoldItalic.woff2') format('woff2'),
     url('NimbusSansL-BoldItalic.woff') format('woff');
font-weight: bold;
font-style: italic;
}

